/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/foundation-sites/assets/foundation";
@import "../node_modules/bootstrap/scss/bootstrap";

// app component styles
@import './app/app.component';
nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
    background: #c5deea; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #c5deea 0%, #8abbd7 31%, #066dab 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 4em;
    min-height: 56px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    position: fixed;
    width: 100%;
}

.main-nav {
  font-family: "Roboto";
  color: #fff;
  text-align: center;
}

h4 {
  padding-top: 1rem;
}

footer {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
  color: #999;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

